<div *ngIf="isLoading" class="loading-text">Caricamento della pagina in corso...</div>
<div *ngIf="!isLoading && tournaments.length === 0" class="no-tournaments">Nessun torneo disponibile</div>
<div class="potm-banner" *ngIf="potm && potm.points > 0">
  <span class="potm-icon">🏆</span>
  <span class="potm-text">Player of the Month: <strong>{{potm.username}}</strong> con <strong>{{potm.points}}</strong> punti guadagnati questo mese!</span>
</div>


<div class="tournaments-header">
  <h2 class="page-title">Tornei</h2>


  <div class="filters-container">
    <select [(ngModel)]="filterMode" class="genre-select">
    <option value="all">Tutti i giochi</option>
    <option value="library">Giochi in Libreria</option>
    </select>
    
  </div>
</div>

<div *ngIf="getfilteredTournaments().length === 0" class="no-tournaments">
    Nessun torneo disponibile per la selezione attuale.
</div>

<div *ngIf="!isLoading && getfilteredTournaments().length > 0" class="tournaments-grid">
  @for (t of getfilteredTournaments(); track t.id) {
    <div class="game-card" [routerLink]="['/tornei', t.id]">
      <div class="card-image-wrapper">
        <img [src]="getTournamentImageUrl(t)" alt="Cover" class="card-image">
        <div class="status-indicator"
             [class.open]="t.registrationOpen"
             [class.closed]="!t.registrationOpen"
             [title]="t.registrationOpen ? 'Iscrizioni Aperte' : 'Iscrizioni Chiuse'">
        </div>
      </div>
      <div class="card-content">
        <h3 class="card-title">{{ t.title }}</h3>
        <div class="card-rating">
          <span class="star-icon">⭐</span>
          <span class="rating-value">{{ t.rating | number:'1.1-1' }} / 5.0</span>
        </div>
      </div>
    </div>
  }
</div>