<nav class="navbar">
  <div class="logo">
    <span class="logo-part1">GAMEHUB</span><span class="logo-part2">ARENA</span>
  </div>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/tornei">Tornei</a></li>
    <li><a routerLink="/giochi">Giochi</a></li>

    @if (currentUser) {
    <li class="user-info">
      @if (currentUser.role === 'ROLE_ADMIN') {
      <a routerLink="/admin" class="username-label clickable-name">
        👑 {{ currentUser.username }}
        @if (messaggiNonLetti > 0) { <span class="notification-badge">{{ messaggiNonLetti }}</span> }
      </a>
      }@else if (currentUser.role === 'ROLE_ORGANIZER'){
      <a routerLink="/organizer" class="username-label clickable-name">
        📂 {{currentUser.username}}
        @if (messaggiNonLetti > 0) { <span class="notification-badge">{{ messaggiNonLetti }}</span> }
      </a>
      }@else if(currentUser.role === 'ROLE_PLAYER'){
      <a routerLink="/player" class="username-label clickable-name">
        🎮 {{currentUser.username}}
        @if (messaggiNonLetti > 0) { <span class="notification-badge">{{ messaggiNonLetti }}</span> }
      </a>
      }@else{
      <span class="username-label">
        🎮 {{ currentUser.username }}
        @if (messaggiNonLetti > 0) { <span class="notification-badge">{{ messaggiNonLetti }}</span> }
      </span>
      }
    </li>
    <li>
      <button class="logout-btn" (click)="logout()">Esci</button>
    </li>
    } @else {
    <li><a class="register-btn" routerLink="/registrati">Registrati</a></li>
    <li><a class="login-btn" routerLink="/login">Login</a></li>
    }
  </ul>
</nav>

<router-outlet></router-outlet>