<h2>Libreria Giochi</h2>

<div class = "source-tabs">
  <button [class.active]="sourceMode === 'local'"(click) = "setSourceMode('local')">🎮 Giochi dell'Arena</button>
  <button [class.active]="sourceMode === 'rawg'"(click) = "setSourceMode('rawg')">🌐 Cerca su RAWG API</button>
</div>



<div class="filters-container">
  <input type="text" 
         [(ngModel)]="searchQuery" 
         (input)="onSearchInput()" 
         placeholder="{{ sourceMode === 'local' ? 'Cerca un gioco per titolo...' : '🔍 Cerca un gioco globale su RAWG...' }}" 
         class="search-input">
         
  @if (sourceMode === 'local') {
    <select [(ngModel)]="selectedGenre" (change)="filterGames()" class="genre-select">
      <option value="">Tutti i generi</option>
      @for (genre of availableGenres; track genre) {
        <option [value]="genre">{{ genre }}</option>
      }
    </select>
  }
</div>

<div class="games-grid">
  @for (game of giochiDaMostrare; track game.id) {
    <div class="game-card" (click)="apriPopup(game)">
      <img class="cover-image" 
            [src]="sourceMode === 'local' ? game.coverUrl : game.backgroundImage"
            alt="Cover del gioco">
      
      <div class="game-info">
        <h3>{{ game.title  }}</h3>
        <p class="genre">{{game.genere || 'Generico'}}</p>
        
        <div class="rating-section">
          <span class="rating-label">Valutazione RAWG:</span>
          <span class="stars">{{ game.rating }} ⭐</span>   
        </div>
        @if (sourceMode === 'rawg' && (authService.getUserRole() === 'ROLE_ADMIN' || authService.getUserRole() === 'ROLE_ORGANIZER')) {
          <button class="import-btn" (click)="importaGiocoInArena(game, $event)">
            ➕ Aggiungi all'Arena
          </button>
        }
      </div>
    </div>
  } @empty {
    <p class="loading-text">Nessun gioco presente o caricamento in corso...</p>
  }
</div>

@if (selectedGame) {
  <div class="modal-overlay" (click)="chiudiPopup()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <button class="close-btn" (click)="chiudiPopup()">✖</button>
      
      <img class="modal-image" [src]="selectedGame.coverUrl" alt="Cover del gioco">
      
      <div class="modal-info">
        <h2>{{ selectedGame.title }}</h2>
        <p class="modal-description">
          {{ selectedGame.description || 'Nessuna descrizione disponibile per questo gioco.' }}
        </p>
        
        <!-- IL BOTTONE GUARDA TRAILER È STATO SPOSTATO QUI SOTTO LA DESCRIZIONE -->
        <button class="trailer-btn popup-trailer-btn" (click)="apriTrailer(selectedGame)">
          ▶ Guarda Trailer
        </button>
      </div>
    </div>
  </div>
}