<h2>Libreria Giochi</h2>

<div class="filters-container">
  <input type="text" [(ngModel)]="searchQuery" (input)="filterGames()" placeholder="Cerca un gioco per titolo..." class="search-input">
  
  <select [(ngModel)]="selectedGenre" (change)="filterGames()" class="genre-select">
    <option value="">Tutti i generi</option>
    @for (genre of availableGenres; track genre) {
      <option [value]="genre">{{ genre }}</option>
    }
  </select>
</div>

<div class="games-grid">
  
  @for (game of filteredGames; track game.id) {
    <div class="game-card">
      <img class="cover-image" [src]="game.coverUrl" alt="Cover del gioco">
      
      <div class="game-info">
        <h3>{{ game.title }}</h3>
        <p class="genre">{{ game.genere || 'Genere non specificato' }}</p>
        
        <div class="rating-section">
          <span class="rating-label">Valutazione RAWG:</span>
          <span class="stars">{{ game.rating }} ⭐</span>

          <button class="trailer-btn"(click)="apriTrailer(game)">▶ Guarda Trailer</button>
        </div>
      </div>
    </div>
  } @empty {
    <p class="loading-text">Nessun gioco presente o caricamento in corso...</p>
  }

</div>